@import url("normalize.css");

@font-face {
  font-family:"Okuda";
  src:url("Okuda.eot?") format("eot"),
  url("/resources/fonts/Okuda.woff") format("woff"),
  url("/resources/fonts/Okuda.ttf") format("truetype"),
  url("/resources/fonts/Okuda.svg#Okuda") format("svg");
  font-weight:normal;
  font-style:normal;
}

html {
  font-family: 'Okuda';
}

*, *:before, *:after {
  box-sizing: border-box;
}

body{
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  /* position: fixed; */
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

footer {
  padding: 0 0.5rem 0.5rem 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

main {
  flex-grow: 1;
}

h1 {
  background-color: black;
  color: #ff9900;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin: 0;
  height: 2rem;
}

button, button:focus{
  border: none;
  border-top: 3px solid black;
  outline: inherit;
}

.elbow {
  width: 10.5rem;
  min-width: 9.5rem;
  height: 4.5rem;
  min-height: 4.5rem;
  background-color: #f1df6f;
  position: relative;
}

.elbow:after {
  content: '';
  display: block;
  position: absolute;
  width: 2rem;
  height: 3rem;
  background: black;
}

.elbow.top-left-elbow {
  border-top-left-radius: 3.75rem;
}

.elbow.top-left-elbow:after {
  right: 0;
  top: 2rem;
  border-top-left-radius: 1.875rem;
}

.elbow.bottom-left-elbow {
  border-bottom-left-radius: 3.75rem;
}

.elbow.bottom-left-elbow:after {
  right: 0;
  bottom: 2rem;
  border-bottom-left-radius: 1.875rem;
}

.bar {
  background-color: #f1df6f;
  height: 2rem;
  flex-grow: 1;
  flex-shrink: 1;
}

.title-block.dot {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: #ff9900;
  padding: 0;
}

.title-block {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nub {
  background-color: #f1df6f;
  height: 2rem;
  min-width: 1.5rem;
}

.right-nub {
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  margin-left: 3px;
}

.left-nub {
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  margin-right: 3px;
}

.nav-bar {
  width: 9rem;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.nav-label {
  background-color: #f1df6f;
  width: 100%;
  color: black;
  display: flex;
  align-items: flex-end;
  flex-grow: 1; 
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

.mobile-nav-label

.nav-btn {
  width: 100%;
  border-right: 3px solid black;
  padding: 1.8rem 0 0 0.3rem;
  color: black;
  font-size: 1.3rem;
  text-align: left;
  flex-grow: 1;
}

.blue {
  background-color: #99ccff;
}

.white {
  background-color: #ffffcc;
}

.yellow {
  background-color: #ffff33;
}

.red {
  background-color: #cc6666;
}

.black {
  background-color: black;
}

.engage {
  font-size: 1.4rem;
}

.nav-bottom {
  background-color: #f1df6f;
  width: 100%;
  flex-grow: 1; 
  flex-basis: 5rem;
}

.ui-btn {
  /* width: 7rem;
  height: 2.2rem; */
  background-color: #99ccff;
  border: none;
  border-radius: 1rem;
  font-size: 1.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.menu-dropdown-btn {
}

.mobile-nav {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem;
}